{% extends 'base.html.twig' %}
{% block title %}Registracija korisnika{% endblock %}

{% block body %}
<div class="col-sm-12">
<h2>Registracija korisnika</h2><br>
    {{ form_start(forma) }}

    {{ form_widget(forma) }}

    <input  class="btn btn-lg btn-primary btn-block" type="submit" value="Register">

    {% if errors %}
        {% for greska in errors %}
        <p>{% greska %}</p><br>
        {% endfor %}
    {% endif %}
    {{ form_end(forma) }}

</div>
    <p><a href="{{ path('reg_config') }}">Potvrda registracije</a></p>
{% endblock %}
