{% extends 'base.html.twig' %}
{% block title %}Registracija korisnika{% endblock %}

{% block body %}
<div class="col-sm-12">
<h2>Registracija korisnika</h2><br>
    {{ form_start(forma) }}

    {{ form_widget(forma) }}

    <input  class="btn btn-lg btn-primary btn-block" type="submit" value="Register">


    {{ form_end(forma) }}

</div>
{% endblock %}
