{% extends 'base.html.twig' %}
{% block title %}
   Pridruživanje studenta timu
{% endblock %}

{% block body %}
    <div class="summary">


        {% if teams|length > 0 %}
        <h2>Pridruživanje odabranog studenta timu</h2><br>
        <form method="post">
            <label for="oznakaTima">Oznaka tima</label><br>
            <select name="oznakaTima" id="oznakaTima">
                {% for team in teams %}
                <option  value="{{ team.oznakaTima }}">{{ team.oznakaTima }}</option>

                {% endfor %}
            </select><br>
            <button type="submit">Pridruži studenta timu</button>
        </form>
        {% else %}
            <h2>U bazi nema timova !!!!</h2>
      {% endif %}
    </div>
{% endblock %}
