{% extends 'base.html.twig' %}
{% block title %}
    Novi tim
{% endblock %}
{% block body %}
<div class="summary">
    <h2>Novi Tim</h2>
    <form method="post">
        <label for="oznakaTima">Oznaka tima</label><br>
        <input type="text" name="oznakaTima" id="oznakaTima" required autofocus placeholder="Unesite oznaku tima"><br>
        <label for="nazivProjekta">Naziv projekta</label><br>
        <input type="text" name="nazivProjekta" id="nazivProjekta" required autofocus placeholder="Unesite naziv tima"><br>
        <label for="opisProjekta">Opis projekta</label><br>
        <textarea autofocus rows="10" cols="100" name="opisProjekta" maxlength="400" placeholder="Unesite opis projekta"></textarea><br>
        <label for="napomena">Napomena</label><br>
        <textarea autofocus rows="10" cols="100" name="napomena" maxlength="400" placeholder="Unesite napomenu"></textarea><br>
        <button type="submit">Dodaj artikl</button>
    </form>
    {% if errors %}
        {% for greska in errors %}
            <p>{{ greska }}</p><br>
        {% endfor %}
    {% endif %}
</div>
{% endblock %}
