{% extends 'base.html.twig' %}

{% block title %}Pocetna stranica{% endblock %}
{% block body %}
    <div class="summary">
    {{ parent() }}
    {% if is_granted('ROLE_USER') %}<h1>Bok {{ app.user.username }}</h1>{% endif %}

    </div>
{% endblock %}
